/*mystyle.css */
body{
  background-color: lavender;
}
a:link {
  color: black;
}
a:hover {
  color: blue;
}
img {
  border-width: 4px;
  border: solid;
  border-color: black;
}
.height-2 {
  height: 400px;
}
.width-1 {
  width: 300px;
}
.width-2 {
  width: 350px;
}
.width-3 {
  width: 450px;
}
.img {
  width: 500px;
}
.height-3 {
  height: 450px;
}
.height-4 {
  height: 350px;
}
.width-4 {
  width: 400px;
}
a:active {
  color: blue;
}
div {
  text-decoration: underline;
}
h1 {
  font-weight: bold;
  font: normal;
  font-size: normal;
  color: black;
}
div + h3 {
  font-style: normal;
}
#img {
  height: 400px;
  width: 300px;
  border: solid;
}
a[href="./oil-paintings.html"] {
  font-size: normal;
}
